@use './Navbar.module.scss';

$chat-bar-height: 90px; // Approximate height including padding and borders

.chatPage {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - Navbar.$navbar-height);
  padding: 0;
}

.chatBarContainer {
  position: sticky;
  bottom: 0;
  width: 100%;
  min-height: $chat-bar-height;
  padding: var(--space-4);
  border-top: 1px solid var(--color-border);
  background: linear-gradient(to top, var(--color-background) 50%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
}
