@use '@/components/Navbar.module.scss';

.wideSidebar {
    --sidebar-width: 320px;
}

.layoutContainer {
    display: flex;
    min-height: 100vh;
}

.mainArea {
    flex: 1;
    min-height: 100vh;
}

.mainContent {
    min-height: calc(100vh - Navbar.$navbar-height);
    background-color: var(--color-background);

    @media (max-width: 768px) {
        margin-left: 0;
        margin-top: 60px; // Height of mobile top bar
    }
}
